<mat-card class="mat-elevation-z8">
  <mat-card-content>
    <mat-card-title>{{ person.name }}</mat-card-title>
    <div class="row">
      <div class="column">
        <div><label>Birth Year:</label> {{ person.birth_year }}</div>
        <div><label>Gender:</label> {{ person.gender }}</div>
        <div><label>Height:</label> {{ person.height }}</div>
        <div><label>Mass:</label> {{ person.mass }}</div>
      </div>
      <div class="column">
        <div><label>Eye Color:</label> {{ person.eye_color }}</div>
        <div><label>Hair Color:</label> {{ person.hair_color }}</div>
        <div><label>Skin Color:</label> {{ person.skin_color }}</div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
