<div>
  <mat-form-field class="full-width" appearance="fill">
    <mat-icon matPrefix>search</mat-icon>
    <input
      type="search"
      matInput
      placeholder="Start typing to find your favorite Star Wars characters..."
      autofocus
      [formControl]="searchControl"
    />
  </mat-form-field>

  Favorites: <br />
  <div
    class="person-container"
    *ngIf="favorites$ | async as favorites; else loading"
  >
    <app-person
      [favorite]="true"
      (deleteFavorite)="deleteFavorite(favorite)"
      *ngFor="let favorite of favorites$ | async"
      [person]="favorite"
    ></app-person>
    <div *ngIf="favorites.length === 0" class="results-caption">
      No favorites added.
    </div>
    <ng-template #loading>
      <div class="results-caption">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </div>
  <hr />
  <div class="person-container" *ngIf="people$ | async as people; else loading">
    <app-person
      [favorite]="false"
      (addFavorite)="addFavorite(person)"
      *ngFor="let person of people?.results"
      [person]="person"
    ></app-person>
    <div *ngIf="people?.results?.length === 0 && dirty" class="results-caption">
      No results found.
    </div>
  </div>
  <ng-template #loading>
    <div class="results-caption">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>
</div>
